---
import CircleEffect from '../components/CircleEffect.astro';
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';

// Informações de contato
const contactInfo = {
	location: "Cascavel - PR",
	email: "gustavolnomelini@gmail.com",
	phone: "(45) 99850-8634",
	whatsappNumber: "5545998508634",
	whatsappMessage: "Olá! Peguei seu contato no seu BLOG, tenho interesse em conversar contigo a respeito dos seus serviços.",
	userName: "Gustavo Lopes Nomelini"
};
---

<Layout title="Contato | PRODBYGUS">
	<CircleEffect size="medium" />
	<section class="mt-8 py-16 relative overflow-hidden">
		<div class="container mx-auto px-4 relative z-10">
			<div class="text-center mb-16">
				<h2 class="text-3xl font-bold text-[var(--text)] sm:text-4xl">
					Entre em Contato
				</h2>
				<div class="mt-2 w-24 h-1 bg-[var(--primary)] mx-auto"></div>
			</div>
			
			<Contact {...contactInfo} />
		</div>
	</section>
</Layout> 