---
import ContactSection from '../components/ContactSection.astro';
import Layout from '../layouts/Layout.astro';

// Informações de contato
const contactInfo = {
	location: "Cascavel - PR",
	email: "gustavolnomelini@gmail.com",
	phone: "(45) 99850-8634",
	whatsappNumber: "5545998508634",
	whatsappMessage: "Olá! Peguei seu contato no seu BLOG, tenho interesse em conversar contigo a respeito dos seus serviços.",
	userName: "Gustavo Lopes Nomelini"
};
---

<Layout title="Contato">
	<section class="py-16 bg-[var(--background)]">
		<div class="container mx-auto px-4">
			<div class="text-center mb-16">
				<h2 class="text-3xl font-bold text-[var(--foreground)] sm:text-4xl">
					Entre em Contato
				</h2>
				<div class="mt-2 w-24 h-1 bg-[var(--color1)] mx-auto"></div>
			</div>
			
			<ContactSection {...contactInfo} />
		</div>
	</section>
</Layout> 